NEXT_PUBLIC_SUPABASE_URL=https://omhrwnznvyepotgdeohj.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9taHJ3bnpudnllcG90Z2Rlb2hqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1MTIyNjIsImV4cCI6MjA5ODA4ODI2Mn0.xMJfsYOuTOkM2FJoCk2ToU9CAjLDRiwq95di50lVTc8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9taHJ3bnpudnllcG90Z2Rlb2hqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjUxMjI2MiwiZXhwIjoyMDk4MDg4MjYyfQ.5mGW5x6g3-Nx0cArD5LaXAoN7JB1mk5lSOJNvAvgBjM
CRON_SECRET=CRON_SECRET=carrierpilot_cron_2024
